# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать виртуальные окружения
venv/
.env

# Игнорировать директории кэша Python
__pycache__/
*.py[cod]

# Игнорировать узлы модулей Node.js
node_modules/

# Игнорировать логи
*.log

# Игнорировать директории сборки
/build
/dist

# Дополнительные игнорируемые файлы и папки
*.sqlite3
*.env.local